.password-form {
    width: 590px;
    height: 550px;
    background-color: white;
    border: 2px solid black;
    margin: auto;
}

.password-form .url input {
    width: 540px;
}

.password-form .website {
    float: left;
    margin-right: 40px;
}

.password-form .website input {
    width: 330px;
    margin-left: 23px;
}

.category-list {
    width: 150px;
    margin-top: 60px;
}

.password-form .username input {
    width: 230px;
    margin-left: 23px;
}

.password-form .password input {
    width: 270px;
}

.password-form-buttons {
    width: 90px;
    height: 45px;
    margin: 30px 30px 0px 30px;
}