.portal-navbar {
    width: 100%;
    background-color: #AEE0FA;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0px;
    position: fixed;
    z-index: 1;
}

.portal-title {
    margin-top: 15px;
}

.mb-3 {
    width: 75%;
    margin-top: 10px;
}

.dropdown-toggle {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item:active {
    background-color: black;
}

.add-password-button {
    width: 85px;
    height: 81px;
    background-color: white;
    border-radius: 50px;
    font-size: 35px;
    position: fixed;
    bottom: 15px;
    right: 25px;
    z-index: 1;
}

.password-storage {
    padding-top: 100px;
}

.category {
    padding-top: 50px;
}

.category-title {
    text-align: left;
    padding-left: 30px;
}

.category-format {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    justify-content: space-evenly;
}

.category-passwords {
    width: 300px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    margin: 10px 0px;
}

.category-passwords h5 {
    margin-top: 20px;
}

.password-storage-buttons, .option-buttons {
    margin: 0px 15px;
}

.password-form .url, .password-form .website, .password-form .username, .password-form .note,
.profile-form .first-name, .profile-form .last-name, .profile-form .email {
  margin-top: 30px;
}

.password-form .username, .profile-form .email {
  float: left;
  margin-bottom: 30px;
}

.password-form .password, .profile-form .password {
  float: right;
  margin: 30px 30px 30px 0px;
}

.password-form .password label, .profile-form .password label {
  margin-left: 10px;
}

@media only screen and (max-width: 480px) {
    .portal-navbar {
        height: 110px;
        display: block;
        justify-content: none;
        padding: 0px;
    }
    
    .portal-title {
        margin: 13px 0px;
    }
    
    .mb-3 {
        width: 70%;
        margin-top: 0px;
    }
    
    .dropdown-toggle {
        float: right;
        position: relative;
        right: 10px;
        bottom: 65px;
    }
    
    .category-title {
        padding-left: 10px;
    }
    
    .category-format {
        display: block;
        grid-template-columns: none;
        grid-gap: 0px;
        justify-content: none;
    }
    
    .category-passwords {
        margin: auto;
        margin-top: 30px;
    }
    
    .password-form .username, .profile-form .email {
        margin-bottom: 0px;
    }

    .profile-form .password {
        float: left;
        margin: 30px 0px 30px 23px;
    }

    .password-form .password label {
        margin-left: 0px;
    }

    .profile-form .password label {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb-3 {
        width: 50%;
    }
    
    .category-title {
        padding-left: 20px;
    }
    
    .category-format {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: none;
    }

    .profile-form .password {
        float: left;
        margin: 0px 0px 30px 23px;
    }

    .profile-form .password label {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
    .mb-3 {
        width: 65%;
    }
    
    .category-title {
        padding-left: 20px;
    }
    
    .category-format {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: none;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1025px) {
    .mb-3 {
        width: 70%;
    }
    
    .category-format {
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: none;
    }
}